* {  
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh; /* Garante que o body ocupe a altura toda da tela */
    color: white;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    animation: trasicaoDeImagem 10s ease-in-out infinite alternate;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes trasicaoDeImagem{
    0% {
        background-image: url(./assets/gin-bg.jpg);
        opacity: 1;
    }

    
    /* Imagem 2: Começa a aparecer */
    100% {
        background-image: url(./assets/gin2-bg.png);
    }

}

header {
    width: 100%;
    padding: 1rem 2.5rem; /* Espaçamento interno (vertical e horizontal) */
    background-color: rgba(51, 48, 48, 0.7); /* Cor de fundo preta com 70% de opacidade */
    /* opacity: 0.97; */
    display: grid; /* ATIVA O FLEXBOX */
    grid-template-columns: 1fr auto 1fr;
    align-items: center; /* Alinha os itens verticalmente no centro */
    
    position: fixed; /* Fixa o cabeçalho no topo da página */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o header fique na frente de outros elementos */
}

.logotext {
    font-size: 1.5rem; /* Tamanho da fonte do logo */
    font-weight: bold; /* Deixa o logo em negrito */
    justify-self: start;
    color: #000000;
}

.nav-drinks {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espaço entre "Drinks" e a seta */
    font-size: 1rem;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    justify-self: center;
}

.nav-button{
    background: transparent ;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #000000;
}

.nav-button img{
    height: 40px;
    width: auto;
    display: block;
}

.arrow {
    font-size: 1.2rem; /* Deixa a seta um pouco maior */
}

main {
    text-align: center;
    /* Adiciona um padding no topo para o conteúdo não ficar escondido atrás do header */
    padding-top: 15rem; 
}

section p {
    font-size: 2.5rem; /* Aumentei um pouco a fonte principal */
    font-weight: bold;
    line-height: 120%; /* Melhora o espaçamento entre as linhas */
    padding-bottom: 2rem;
}

.pesquisa input {
    text-align: center;
    color: white;
    height: 45px;
    width: 500px;
    max-width: 90%; /* Garante que não quebre em telas menores */
    background-color: rgba(31, 26, 26, 0.8); /* Fundo semi-transparente */
    border: 1px solid #444; /* Borda sutil */
    border-radius: 10px;
    font-size: 1rem;
}

/* Estiliza o texto do placeholder */
.pesquisa input::placeholder {
    color: #ccc;
    opacity: 1;
}